<h1>Editing Test Case</h1>
<hr>

<%= render 'form' %>

<br>

<%= link_to 'View Problem', [:admin, @test_case], class: 'btn btn-default' %>
<%= link_to 'Back to list of Problems', admin_test_cases_path, class: 'btn btn-default' %>
