<h1>Event Rules</h1>
<hr>
<br>


<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#basic_rules" aria-controls="basic_rules" role="tab" data-toggle="tab">Basic Rules</a></li>
    <li role="presentation"><a href="#how_to_play" aria-controls="how_to_play" role="tab" data-toggle="tab">How to Play</a></li>
    <li role="presentation"><a href="#credits" aria-controls="credits" role="tab" data-toggle="tab">Credits</a></li>
  </ul>

  <br>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="basic_rules">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Basic Rules</h4>
        </div>

        <div class="panel-body">
          <ul>
            <li>This in an individual event. Team participation is not allowed.</li>
            <li>All programming languages are allowed.</li>
            <li>The contest will span over 3 days.</li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Game Format</h4>
        </div>

        <div class="panel-body">
          <ul>
            <li>The map comprises of 8 zones.</li>
            <li>One zone will open every 3 hours, and for those 3 hours, the other zones will remain closed</li>
            <li>There will be 5 levels of questions in each zone. Climb up the ladder to take control of a particular zone</li>
            <li>The difficulty of the question and duration of capture of a particular zone will determine the points you get.</li>
            <li>In case of a tie, the participant to solve the most difficult question first will be given preference.</li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Policy on Honesty</h4>
        </div>

        <div class="panel-body">
          <ul>
            <li>The decision of the event co-ordinators will be final.</li>
            <li>Participants are expected to play fair and keep the competition healthy.</li>
            <li>Any participants found spamming will be disqualified without warning.</li>
          </ul>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="how_to_play">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">General Information</h4>
        </div>

        <div class="panel-body">
          <p>Each zone will open for 3 hours. As soon as a participant starts solving the questions correctly, he/she starts levelling up. The player with the highest level in each zone is said to dominate that zone. The player(s) dominating a zone earn points proportional to the difficulty of the toughest question they have solved so far. Thus, the longer for which they dominate a zone, the more points they get.</p>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Attackers</h4>
        </div>

        <div class="panel-body">
          <p>An attacker, i.e. a participant who comes in after a zone has been captured, must solve questions till he matches the  difficulty level (in terms of question difficulty) as that of the currently dominating participant in that zone. Until he/she does so, no points will be awarded. If both players are on the same level, then both of them will get points. After reaching the same level as that of the dominating player, the participant can solve more questions to completely dominate the zone and deprive the previously dominating participant from getting further points.</p>
        </div>

        <div class="panel-footer">
          <b>An example:</b>
          <p>If Soham is dominating zone A and has solved 3 questions then he is at Lv. 3. And he is getting 300 points per minute. Now, if you plan to attack his zone, you must start by solving questions at levels 1, 2 and 3 respectively until you matching his level. Only then will you start getting 300 points per minute. Now, if you solve the Lv. 4 problem, then you will start getting 400 points per minute and Soham won't get any points at all until he is able to match your difficulty level or surpass you.</p>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Defenders</h4>
        </div>

        <div class="panel-body">
          <p>A defender, i.e. a participant who already is dominating a zone, gets a buffer according to the difficulty level he/she has solved. Let’s say a player has solved <code>x</code> questions. Then, an attacker has to solve <code>x</code> questions in order to catch up to him/her. Hence this acts as a buffer. A participant can continue to solve more questions to increase the value of <code>x</code> while he is being attacked.</p>
        </div>

        <div class="panel-footer">
          <b>An example:</b>

          <p>If you are dominating zone A and have solved 3 questions then the level of the zone is 3, and you are getting 300 points per minute. Now if Soham plans to attack your zone, he has to start by solving questions at levels 1, 2 and 3 respectively, thus matching the level of the zone. Only then will Soham start getting 300 points per minute. Now if you solve the Lv. 4 problem, then you will start getting 400 points per minute and Soham won’t get any points at all until he is able to match your difficulty level or surpass you. You can solve more questions as well to increase the difference between your level and Soham's in hopes of remaining the dominating player and consolidating your position.</p>
        </div>
      </div>

    </div>


    <div role="tabpanel" class="tab-pane" id="credits">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Event Design</h4>
        </div>

        <div class="panel-body">
          <i>High Concept</i>
          <ul>
            <li>Suchandrim Sarkar</li>
          </ul>

          <hr>

          <i>Mechanics and Metagame</i>
          <ul>
            <li>Palash Chatterjee</li>
            <li>Rohan Sahay</li>
            <li>Varun Kumar</li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Problem Statements</h4>
        </div>

        <div class="panel-body">
          <ul>
            <li>Piyush Agarwal</li>
            <li>Priyam Mitra</li>
            <li>Suchandrim Sarkar</li>
            <li>Varun Kumar</li>
            <li>Vishal Agarwal</li>
          </ul>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Web App</h4>
        </div>

        <div class="panel-body" style="height: 165px; overflow: hidden;">
          <div class="github-card" data-user="peteykun" data-repo="game_of_zones"></div>
          <script src="http://lab.lepture.com/github-cards/widget.js"></script>
        </div>
      </div>

    </div>

  </div>

</div>
