<h3>Zone Change Notification</h3>
<hr>

<p>Hello,</p>

<p>This is your friendly neighborhood notification service from Game of Zones, the 3-day online coding competition that you signed up for!</p>

<p>We wanted to let you know that we just changed zones:</p>

<p>
  <b>Active Zone:</b> <%= @zone.name %><br>
  <b>Controller of the zone:</b> <%= @leader_name %>
</p>

<p>Whenever a zone resets, everyone is back to being a newbie and must climb their way back from Lv. 1. But, until the first Lv. 1 question is solved, the current leader <%= @zone %> will continue to score points. Don't let them cruise their way through the contest, get on the offensive and score yourself some points!</p>

<p>Wishing you the best of luck,</p>

<p>Team ComputeAid</p>