<h1>Editing Problem</h1>
<hr>

<%= render 'form' %>

<br>

<%= link_to 'View Problem', [:admin, @problem], class: 'btn btn-default' %>
<%= link_to 'Back to list of Problems', admin_problems_path, class: 'btn btn-default' %>
