<h1>Leaderboard</h1>
<hr>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username.titleize %></td>
        <td><%= user.score * 100 %></td>
      </tr>
    <% end %>
  </tbody>
</table>
