<h1>Editing region</h1>
<hr>

<%= render 'form' %>

<br>

<%= link_to 'View Region', [:admin, @region], class: 'btn btn-default' %>
<%= link_to 'Back to the list of Regions', admin_regions_path, class: 'btn btn-default' %>
