<h1>Editing user</h1>
<hr>

<%= render 'form' %>

<br>

<%= link_to 'View User', [:admin, @user], class: 'btn btn-default' %>
<%= link_to 'Back to the list of Users', admin_users_path, class: 'btn btn-default' %>
